#futurecollaborator {
  position: relative;
}
.testing:hover {
  background-color: black;
}

#launchtheconfig {
  position: absolute;
  bottom: -70px;
}

.facing--analysis {
  height: 500px;
}
.face {
  width: 75%;
  position: absolute;
  top: -15px;
}

.datadot1{
  position: absolute;
  top: 135px;
  right: 385px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data1content {
  font-size: 15px;
  position: absolute;
  top: 135px;
  left: 75px;
}
.datadot2{
  position: absolute;
  top: 112px;
  left: 250px;

  span {
  font-size: 4px;
  color: black;
  }
}

.data2content {
  font-size: 15px;
  position: absolute;
  top: 105px;
  right: 205px;
}
.datadot3{
  position: absolute;
  top: 256px;
  right: 346px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data3content {
  font-size: 15px;
  position: absolute;
  top: 250px;
  left: 80px;
}
.datadot4{
  position: absolute;
  top: 185px;
  left: 240px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data4content {
  font-size: 15px;
  position: absolute;
  top: 180px;
  right: 215px;
}
.datadot5{
  position: absolute;
  top: 290px;
  left: 305px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data5content {
  font-size: 15px;
  position: absolute;
  top: 285px;
  right: 130px;
}
.datadot6{
  position: absolute;
  top: 60px;
  right: 366px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data6content {
  font-size: 15px;
  position: absolute;
  top: 60px;
  left: 58px;
}

.facecontent {
  font-size: 15px;
}
.profil--analysis {

  height: 500px;
}
.profil {
  width: 75%;
  position: absolute;
  right: 25px;
}
.datadot7{
  position: absolute;
  top: 180px;
  right: 285px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data7content {
  font-size: 15px;
  position: absolute;
  top: 175px;
  left: 175px;
}
.datadot8{
  position: absolute;
  top: 45px;
  right: 310px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data8content {
  font-size: 15px;
  position: absolute;
  top: 45px;
  left: 145px;
}
.datadot9{
  position: absolute;
  top: 150px;
  left: 400px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data9content {
  font-size: 15px;
  position: absolute;
  top: 145px;
  right: 45px;
}
.datadot11{
  position: absolute;
  top: 220px;
  left: 410px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data11content {
  font-size: 15px;
  position: absolute;
  top: 215px;
  right: 65px;
}
.datadot12{
  position: absolute;
  top: 80px;
  left: 400px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data12content {
  font-size: 15px;
  position: absolute;
  top: 75px;
  right: 60px;
}
.datadot13{
  position: absolute;
  top: 275px;
  right: 305px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data13content {
  font-size: 15px;
  position: absolute;
  top: 275px;
  left: 165px;
}

