#futurecollaborator {
  position: relative;
}
.testing:hover {
  background-color: black;
}

.facing--analysis {

  height: 500px;
}
.face {
  width: 75%;
  position: absolute;
  top: -15px;
}

.datadot1{
  position: absolute;
  top: 123px;
  right: 310px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data1content {
  font-size: 12px;
  position: absolute;
  top: 131px;
  left: 64px;
}
.datadot2{
  position: absolute;
  top: 80px;
  left: 232px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data2content {
  font-size: 12px;
  position: absolute;
  top: 88px;
  right: 142px;
}
.datadot3{
  position: absolute;
  top: 200px;
  right: 290px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data3content {
  font-size: 12px;
  position: absolute;
  top: 208px;
  left: 4px;
}
.datadot4{
  position: absolute;
  top: 145px;
  left: 220px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data4content {
  font-size: 12px;
  position: absolute;
  top: 152px;
  right: 154px;
}
.datadot5{
  position: absolute;
  top: 240px;
  left: 258px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data5content {
  font-size: 12px;
  position: absolute;
  top: 248px;
  right: 116px;
}
.datadot6{
  position: absolute;
  top: 45px;
  right: 287px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data6content {
  font-size: 12px;
  position: absolute;
  top: 53px;
  left: 50px;
}

.facecontent {
  font-size: 12px;
}
.profil--analysis {

  height: 500px;
}
.profil {
  width: 75%;
  position: absolute;
  right: 25px;
}
.datadot7{
  position: absolute;
  top: 145px;
  right: 245px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data7content {
  font-size: 12px;
  position: absolute;
  top: 153px;
  left: 127px;
}
.datadot8{
  position: absolute;
  top: 45px;
  right: 238px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data8content {
  font-size: 12px;
  position: absolute;
  top: 53px;
  left: 134px;
}
.datadot9{
  position: absolute;
  top: 123px;
  left: 328px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data9content {
  font-size: 12px;
  position: absolute;
  top: 130px;
  right: 70px;
}
.datadot11{
  position: absolute;
  top: 204px;
  left: 325px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data11content {
  font-size: 12px;
  position: absolute;
  top: 212px;
  right: 80px;
}
.datadot12{
  position: absolute;
  top: 46px;
  left: 301px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data12content {
  font-size: 12px;
  position: absolute;
  top: 53px;
  right: 80px;
}
.datadot13{
  position: absolute;
  top: 212px;
  right: 216px;

  span {
  font-size: 4px;
  color: black;
  }
}
.data13content {
  font-size: 12px;
  position: absolute;
  top: 220px;
  left: 163px;
}

