// background dimension

.top-segment {
  background: linear-gradient(#101010 50%, rgba(16, 16, 16, 0.2) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.03));
  background-size: 100% 3px, 6px;
  background-color: #383838;
  width: 100%;
  height: 100vh;
  padding-bottom: 50px;
  display: flex;
}

#findingmessage {
  background: linear-gradient(#101010 50%, rgba(16, 16, 16, 0.2) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.03));
  background-size: 100% 3px, 6px;
  background-color: #383838;
  width: 100%;
  padding-bottom: 50px;
  display: flex;

}
.second-segment {
  width: 100%;
  height: 100vh;
  background-color: #F3F6F6;
  display:flex;
}
// .third-segment {
//   background-color: #383838;
//   width: 100%;
//   padding-bottom: 50px;
// }
.fourth-segment {
  background: linear-gradient(#101010 50%, rgba(16, 16, 16, 0.2) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.03));
  background-size: 100% 3px, 6px;
  background-color: #383838;
  width: 100%;
  height: 100vh;
  padding-bottom: 50px;
}
.fifth-segment {
  width: 100%;

}

// Contents

.introduction {
  top: 25%;
}
