// background dimension

.top-segment {
  background-color: #383838;
  width: 100%;
  padding-bottom: 50px;
}

#findingmessage {
  background-color: #383838;
  width: 100%;
  height: 650px;
  padding-bottom: 50px;
}
.second-segment {
  width: 100%;
  height: 460px;
  background-color: #F3F6F6;
}
// .third-segment {
//   background-color: #383838;
//   width: 100%;
//   padding-bottom: 50px;
// }
.fourth-segment {
  background-color: #383838;
  width: 100%;
  height: 750px;
  padding-bottom: 50px;
}
.fifth-segment {
  width: 100%;

}

// Contents

.introduction {
  top: 25%;
}
